@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&family=Tajawal:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  text-align: start;
  overflow-x: hidden;
  font-family: 'Tajawal', sans-serif;
}

::-webkit-scrollbar-thumb {
  background-color: #186db5;
  border-radius: 0px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
label {
  text-transform: capitalize;
}

ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  outline: 0;
  border: 0;
  background: transparent;
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.custom_button,
button.custom_button {
  border: 2px solid #f9f9f9;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  color: #f9f9f9;
  padding: 10px 25px;
  position: relative;
  background: transparent;
  margin-right: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a.custom_button:before,
button.custom_button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -21px;
  min-width: 1.25rem;
  height: 2px;
  background: #f9f9f9;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a.custom_button:after,
button.custom_button:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -22px;
  min-width: 1.25rem;
  height: 2px;
  background: #f9f9f9;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

a.custom_button:hover,
button.custom_button:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color) !important;
}

a.custom_button:hover:before,
button.custom_button:hover:before,
a.custom_button:hover:after,
button.custom_button:hover:after {
  background-color: var(--primary-color);
}

.btn__custom__two {
  border: 2px solid var(--primary-color);
  border-radius: 0;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 10px 25px;
  position: relative;
  background: transparent;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn_primary .btn__custom__two {
  background-color: var(--primary-color);
  color: #fff;
}

.section_title {
  position: relative;
  color: var(--primary-color);
  margin-bottom: 25px;
  font-weight: bold;
}

.section_title:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  top: 19px;
  right: -60px;
}

.section_title li {
  color: #444;
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 1.7;
}

.form-floating > label {
  right: 0;
  left: auto;
}

select {
  height: 55px;
}

.modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0;
}

.modal .modal-header button {
  border: 1px solid #ccc;
  border-radius: 50%;
  position: absolute;
  right: 25px;
  top: 24px;
}

.modal .modal-header h5 {
  text-align: center;
  font-size: 20px;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-body p {
  color: #777;
  text-align: center;
  line-height: 1.8;
}

/* start navbar */
.navbar {
  background-color: transparent !important;
  padding: 15px 0;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9;
}

@media (max-width: 480px) {
  .navbar {
    top: -20px;
  }
}

.navbar .navbar-brand {
  color: var(--primary-color) !important;
}

.navbar .navbar-brand img {
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .nav-link {
  color: #fff !important;
  font-size: 17px;
  margin: 0 5px 0 0;
  font-weight: bold;
  position: relative;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  border: 0;
  background-color: transparent;
}

@media (max-width: 991px) {
  .navbar .nav-link {
    color: var(--third-color) !important;
    margin: 15px 0;
  }
}

.navbar .nav-link.active, .navbar .nav-link:hover {
  color: var(--primary-color) !important;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}

.navbar .nav-link.active:after, .navbar .nav-link:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
  bottom: -7px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navbar .nav-link.flag_lang img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar .nav-link.flag_lang.active:after, .navbar .nav-link.flag_lang:hover:after {
  position: relative;
}

.navbar .nav-link.login_btn {
  background-color: var(--primary-color);
  color: #fff !important;
  border-radius: 4px;
  padding: 10px 25px;
}

.navbar .nav-link.login_btn:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color) !important;
}

.navbar .nav-link.login_btn.active:after, .navbar .nav-link.login_btn:hover:after {
  position: relative;
}

.navbar .nav-item {
  margin: 0 5px !important;
  position: relative;
}

.navbar .nav-item:hover i {
  color: var(--second-color) !important;
}

.navbar a {
  color: var(--third-color);
}

@media (max-width: 991px) {
  .navbar .login_btn {
    margin-top: 15px;
  }
}

.navbar .profile {
  margin-top: 15px;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.navbar .profile a {
  color: #fff;
  border: 1px solid #fff;
  padding: 1px 5px;
  border-radius: 50%;
}

.navbar .profile a svg {
  color: #fff;
}

.navbar.nav_layout_auth {
  position: relative;
  top: 0;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar.nav_layout_auth .nav-link {
  color: var(--third-color) !important;
}

.navbar.nav_layout_auth .nav-link.active {
  color: var(--primary-color) !important;
}

.navbar.nav_layout_auth .login_btn {
  color: #fff !important;
}

.navbar.nav_layout_auth .profile a {
  color: var(--third-color) !important;
  border: 1px solid var(--third-color);
}

.navbar.nav_layout_auth .profile a svg {
  color: var(--third-color);
}

.navbar .offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 992px) {
  .navbar .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media (max-width: 992px) {
  .navbar .offcanvas {
    width: 250px !important;
  }
  .navbar .offcanvas-start-lg {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .navbar .offcanvas-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .navbar-nav .nav-link.active:after,
  .navbar .navbar-nav .nav-link:hover:after {
    right: -55px;
  }
  .navbar .nav-item {
    margin-bottom: 25px;
  }
}

/* end navbar */
.top_navbar {
  background-color: #000;
  padding: 10px;
}

.top_navbar ul li {
  position: relative;
  -webkit-transition: all 0.32s ease-in-out;
  transition: all 0.32s ease-in-out;
}

.top_navbar ul li:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.top_navbar ul li:hover a {
  color: var(--primary-color);
}

.top_navbar ul li:hover:before {
  background-color: var(--primary-color) !important;
}

.top_navbar ul li a {
  color: #fff;
  font-size: 13px;
}

.top_navbar ul.top_navbar_location li {
  position: relative;
}

.top_navbar ul.top_navbar_location li:before {
  position: absolute;
  content: '';
  background-color: #fff;
  height: 2px;
  width: 20px;
  top: 12px;
  right: -26px;
}

@media (max-width: 480px) {
  .top_navbar {
    display: none;
  }
}

.subscribe {
  /* COLORS */
}

.subscribe .postcard {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
          box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

.subscribe .postcard.dark {
  background-color: #18151f;
}

.subscribe .postcard.light {
  background-color: #e1e5ea;
}

.subscribe .postcard .t-dark {
  color: #18151f;
}

.subscribe .postcard a {
  color: inherit;
}

.subscribe .postcard h1, .subscribe .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-color);
}

.subscribe .postcard .small {
  font-size: 80%;
}

.subscribe .postcard .postcard__title {
  font-size: 1.75rem;
}

.subscribe .postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.subscribe .postcard .postcard__img_link {
  display: contents;
}

.subscribe .postcard .postcard__bar {
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}

.subscribe .postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe .postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  font-size: 17px;
  margin-bottom: 25px;
}

.subscribe .postcard .postcard__tagbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe .postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.subscribe .postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.subscribe .postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.subscribe .postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .subscribe .postcard {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
  .subscribe .postcard .postcard__title {
    font-size: 2rem;
  }
  .subscribe .postcard .postcard__tagbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .subscribe .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .subscribe .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .subscribe .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .subscribe .postcard:hover .postcard__img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .subscribe .postcard:nth-child(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .subscribe .postcard:nth-child(2n+0) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .subscribe .postcard:nth-child(2n+1) .postcard__text::before {
    right: -12px !important;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  .subscribe .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .subscribe .postcard__text {
    padding: 2rem 3.5rem;
  }
  .subscribe .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .subscribe .postcard.dark .postcard__text:before {
    background: #18151f;
  }
  .subscribe .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

.subscribe .postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.subscribe .green .postcard__title:hover {
  color: #79dd09;
}

.subscribe .green .postcard__bar {
  background-color: #79dd09;
}

.subscribe .green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.subscribe .green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.subscribe .postcard .postcard__tagbox .blue.play:hover {
  background: #186db5;
}

.subscribe .blue .postcard__title:hover {
  color: #186db5;
}

.subscribe .blue .postcard__bar {
  background-color: #186db5;
}

.subscribe .blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.subscribe .blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.subscribe .postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.subscribe .red .postcard__title:hover {
  color: #bd150b;
}

.subscribe .red .postcard__bar {
  background-color: #bd150b;
}

.subscribe .red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.subscribe .red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.subscribe .postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.subscribe .yellow .postcard__title:hover {
  color: #bdbb49;
}

.subscribe .yellow .postcard__bar {
  background-color: #bdbb49;
}

.subscribe .yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.subscribe .yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .subscribe .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .subscribe .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  .subscribe .blue::before {
    background-image: linear-gradient(140deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .subscribe .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .subscribe .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .subscribe .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .subscribe .yellow::before {
    background-image: linear-gradient(140deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .subscribe .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}

.latest .latest-info {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 3px;
  border-top: 2px solid var(--primary-color);
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  margin-bottom: 40px;
}

.latest .latest-info svg {
  color: #bcbec0;
}

.latest .latest-info .num__ {
  color: #bcbec0;
}

.latest .latest-info .badge {
  background-color: var(--primary-color);
}

.latest .latest-info .latest-desc {
  margin-top: 25px;
}

.latest .latest-info .latest-desc .latest_title {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--third-color);
}

.latest .latest-info .latest-desc p {
  margin-bottom: 15px !important;
  color: var(--third-color);
}

.latest .latest-info .latest-desc i {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.latest .latest-info .counter span {
  font-weight: bold;
  color: var(--primary-color);
  font-size: 14px;
}

.latest .latest-info .counter span:first-of-type {
  font-size: 30px;
  height: 35px;
}

.latest .latest-info:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

footer {
  background-color: #030305;
  padding: 80px 0px 20px;
  position: relative;
}

footer .footer-logo {
  border-bottom: 1px solid #353537;
  margin-bottom: 35px;
  padding-bottom: 22px;
}

footer .footer-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 40px img;
  font-size-width: 150px;
}

footer h4 {
  color: #fff;
  margin-bottom: 25px;
}

footer p {
  color: #888;
  line-height: 1.929;
  margin-bottom: 10px;
}

footer .social-links {
  margin-top: 25px !important;
}

footer .social-links li {
  display: inline-block;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .social-links li a {
  text-decoration: none;
  color: #fff;
}

footer .social-links li svg {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer .social-links li svg:hover {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  color: var(--primary-color);
}

footer .footer-contact li {
  margin-bottom: 20px;
}

footer .footer-contact a {
  color: #888;
}

footer .footer-links li {
  display: block;
  margin-bottom: 20px;
}

footer .footer-links li a {
  color: #888;
}

footer li {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer li:hover {
  margin-right: 20px;
}

footer form {
  position: relative;
}

footer form input {
  padding: 8px 22px;
  font-size: 13px;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 100%;
  outline: none;
}

footer form button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 39px;
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  border-radius: 50px;
  line-height: 10px;
  border: 2px solid var(--primary-color);
}

footer hr {
  background-color: #494d58;
  margin-top: 50px;
  margin-bottom: 25px;
}

footer .copyright {
  color: #fff;
}

footer .copyright a {
  color: #888;
}

.preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 9999;
}

.preloader-spinner {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.loader-content {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom_input {
  height: 55px !important;
}

.custom_input:focus, .custom_input:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--primary-color);
}

/* wizard */
.wizard_form #heading {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
}

.wizard_form #msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.wizard_form #msform fieldset {
  border: 0 none;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.wizard_form #msform fieldset:not(:first-of-type) {
  display: none;
}

.wizard_form #msform input:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary-color);
  outline-width: 0;
}

.wizard_form #msform textarea:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary-color);
  outline-width: 0;
}

.wizard_form #msform .action-button {
  width: 100px;
  background: var(--primary-color);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

.wizard_form #msform .action-button:hover {
  background-color: var(--primary-color);
}

.wizard_form #msform .action-button:focus {
  background-color: var(--primary-color);
}

.wizard_form #msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: left;
}

.wizard_form #msform .action-button-previous:hover {
  background-color: #000000;
}

.wizard_form #msform .action-button-previous:focus {
  background-color: #000000;
}

.wizard_form .form-card {
  text-align: right;
}

.wizard_form .card {
  z-index: 0;
  border: none;
  position: relative;
}

.wizard_form .fs-title {
  font-size: 25px;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: normal;
  text-align: right;
}

.wizard_form .purple-text {
  color: var(--primary-color);
  font-weight: normal;
}

.wizard_form .steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: left;
}

.wizard_form .fieldlabels {
  color: gray;
  text-align: right;
}

.wizard_form #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wizard_form #progressbar .active {
  color: var(--primary-color);
}

.wizard_form #progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 50%;
  float: right;
  position: relative;
  font-weight: 400;
}

.wizard_form #progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
  z-index: 26;
  position: inherit;
}

.wizard_form #progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  right: 0;
  top: 25px;
  z-index: 0;
}

.wizard_form #progressbar #account:before {
  font-family: FontAwesome;
  content: "\f007";
}

.wizard_form #progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

.wizard_form #progressbar li.active:before {
  background: var(--primary-color);
}

.wizard_form #progressbar li.active:after {
  background: var(--primary-color);
}

.wizard_form .progress {
  height: 20px;
}

.wizard_form .progress-bar {
  background-color: var(--primary-color);
}

.wizard_form .title_span {
  display: block;
  color: var(--third-color);
  margin-bottom: 8px;
  font-weight: 600;
  position: relative;
}

.wizard_form .title_span::after {
  position: absolute;
  content: "";
  background-color: var(--primary-color);
  width: 100px;
  height: 2px;
  top: 25px;
  right: 0;
}

.wizard_form .note {
  display: block;
  color: var(--third-color);
  margin-bottom: 8px;
  font-weight: 600;
  position: relative;
}

.wizard_form .form-check {
  margin-right: 0;
}

.wizard_form .counter__increment {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
  font-size: 1rem;
  line-height: 1.5625rem;
  height: 1.875rem;
  width: 2.1875rem;
  font-weight: normal;
  color: #2f3640;
  text-decoration: none;
  right: 0;
  border-left: 1px solid #ced4da;
}

.wizard_form .counter__increment:hover {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter__increment:active {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter__increment:focus {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter__decrement {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 0;
  font-size: 1rem;
  line-height: 1.5625rem;
  height: 1.875rem;
  width: 2.1875rem;
  font-weight: normal;
  color: #2f3640;
  text-decoration: none;
  left: 0;
  top: 0;
  border-right: 1px solid #ced4da;
  line-height: 1.6875rem;
}

.wizard_form .counter__decrement:hover {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter__decrement:active {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter__decrement:focus {
  color: #2f3640;
  text-decoration: none;
  background-color: #edeff0;
}

.wizard_form .counter {
  position: relative;
  width: 7.5rem;
  height: 1.875rem;
  border: 1px solid #ced4da;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
}

.wizard_form .counter__input {
  border: none;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  color: #2f3640;
  font-size: 0.875rem;
  background-color: transparent;
}

.wizard_form .input-group input {
  height: 38px !important;
}

.wizard_form label {
  color: var(--third-color);
}

/* start saved address */
/* end saved address */
.saved_address_page {
  padding: 30px 0;
}

.saved_address_page .wrraper_address {
  background-color: #0f487d;
  padding: 20px;
}

.section_title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.saved_address {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
}

.saved_address label {
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px 15px 20px;
}

.saved_address h6 {
  color: var(--primary-color);
  font-weight: bold;
}

.saved_address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0;
}

.saved_address ul li {
  color: #dbd5d9;
}

.saved_address ul li.saved_address_email {
  font-weight: bold;
}

.saved_address ul li.saved_address_phone {
  font-weight: bold;
}

.saved_address label.active ul li {
  color: #dbd5d9;
}

.saved_address label.active ul li.saved_address_email {
  font-weight: bold;
  color: #dbd5d9;
}

.saved_address label.active .d-flex h5 {
  color: #fff;
  font-weight: bold;
}

.saved_address label.active .d-flex span {
  color: #fff;
  font-weight: normal;
}

.saved_address_item {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
}

.saved_address_item label {
  width: 100%;
  position: relative;
}

.saved_address_item label input {
  position: absolute;
  visibility: hidden;
}

.saved_address_item_info .d-flex h5 {
  color: var(--second-primary);
  font-weight: bold;
}

.saved_address_item_info .d-flex span {
  color: #333;
}

.saved_address_item_info .d-flex .action {
  float: left;
  gap: 15px;
}

.saved_address_item_info .d-flex .action button {
  border: 0;
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.saved_address_item_info .d-flex .action button i {
  font-size: 20px;
}

.saved_address_item_info .d-flex .action button .fa-trash-alt {
  color: red;
}

.saved_address_item_info .d-flex .action button .fa-edit {
  color: #dbd5d9;
}

label.active {
  background-color: var(--primary-color);
}

.cart_page .order_section .saved_address label.active ul li.saved_address_phone {
  font-weight: bold;
  color: white;
}

.no_address {
  padding: 50px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.no_address p {
  color: white;
}

.nation__ {
  background-color: #ccc;
  padding: 20px;
}

.theme {
  --primary-color: #186db5;
  --second-color: #0f487d;
  --third-color: #212529;
  --fourth-color: #dd0067;
  --gradient: linear-gradient(to right, rgb(0 203 156 / 70%), rgb(125 185 0 / 70%));
}

header {
  position: relative;
}

header img {
  height: 100vh;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}

header .carousel-item {
  position: relative;
}

header .carousel-item:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

header .carousel-caption {
  opacity: 1;
  top: 30%;
  z-index: 1;
  text-align: start;
  padding-right: 2em;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  height: 350px;
}

header .carousel-caption:after {
  position: absolute;
  top: 45%;
  right: -1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  width: 3px;
  height: 100px;
  background: var(--primary-color);
}

@media (max-width: 450px) {
  header .carousel-caption {
    top: 5%;
  }
}

header .carousel-caption h5 {
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

header .carousel-caption p {
  font-size: 18px;
  line-height: 2;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

header .video-icon {
  text-align: end;
}

@media (max-width: 480px) {
  header .video-icon {
    text-align: center;
    margin-top: 25px;
  }
}

header .video-icon p {
  color: #fff;
  font-size: 20px;
  margin: 0;
  display: inline-block;
  margin-left: 60px;
}

header .video-icon a {
  background: #fff;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
  position: relative;
  margin-top: 25px;
}

header .video-icon svg {
  color: var(--primary-color);
}

header .video-icon .btn-icon::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  border-radius: inherit;
  border: 1px solid var(--primary-color);
  -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
  animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
}

header .video-icon .btn-icon:after {
  position: absolute;
  border: 59px solid rgba(255, 255, 255, 0.06);
  content: "";
  border-radius: 50%;
  left: -25px;
  top: -25px;
  right: -25px;
  z-index: 0;
}

.statistics .statistics_para {
  color: var(--third-color);
  font-size: 30px;
  font-weight: 550;
}

.statistics .statistics_desc {
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  position: relative;
  z-index: 1;
  padding: 60px 20px;
  border-radius: 8px;
}

.statistics .statistics_desc h4 {
  font-weight: bold;
  color: var(--third-color);
}

.statistics .statistics_desc p {
  color: #57667e;
  line-height: 1.5;
  margin-top: 8px;
}

.statistics .statistics_desc::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  background: var(--primary-color);
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  bottom: 0;
  left: 0;
  z-index: -1;
  border: 9px solid #fff;
  border-radius: 22px;
}

.statistics .statistics_desc:hover:before {
  height: 100%;
}

.statistics .statistics_desc:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.statistics .statistics_desc:hover h4, .statistics .statistics_desc:hover p {
  color: #fff;
  font-weight: bold;
}

.sponsers {
  padding: 50px 0 50px;
}

.sponsers .sponser-box img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.sponsers .owl-item.active.center img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.sponsers .owl-sponsers .owl-dots,
.sponsers .owl-sponsers .owl-nav {
  display: none !important;
}

.blogs {
  padding: 50px 20px;
}

.blogs .blog_sec {
  margin-bottom: 20px;
}

.blogs .blog_sec img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 15px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blogs .blog_sec img:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #0033c7;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blogs .blog_sec .blog_meta {
  margin-bottom: 15px;
}

.blogs .blog_sec .blog_meta span {
  font-weight: 550;
  color: var(--third-color);
}

.blogs .blog_sec .blog_meta span:last-of-type {
  color: #999;
}

.blogs .blog_sec .blog_title h3 {
  color: var(--third-color);
  font-size: 22px;
}

.blogs .blog_sec .blog_desc p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #888;
}

.blogs .blog_sec:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.testimonials {
  padding: 50px 20px;
}

.testimonials .card {
  background: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}

.testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  -webkit-box-shadow: 0 8px 20px -4px #8e9091a6;
          box-shadow: 0 8px 20px -4px #8e9091a6;
  width: 100px;
  height: 100px;
}

.testimonials .card h5 {
  color: var(--primary-color);
  font-size: 21px;
  line-height: 1.3;
  font-weight: bold;
}

.testimonials .card span {
  font-size: 18px;
  color: var(--third-color);
  font-weight: 520;
  margin-bottom: 25px;
}

.testimonials .card p {
  font-size: 18px;
  color: #999;
  padding-bottom: 15px;
  margin-top: 15px;
}

.testimonials .active {
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.testimonials .center {
  opacity: 1;
}

.testimonials .center h5 {
  font-size: 24px;
}

.testimonials .center h5 span {
  font-size: 20px;
}

.testimonials .center .card-img-top {
  max-width: 100%;
  height: 120px;
  width: 120px;
}

.latest {
  padding: 50px 20px;
  background-color: #f1f1f2;
}

.latest input {
  max-width: 320px;
  width: 270px;
  height: 55px !important;
}

.latest input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: var(--primary-color);
}

.latest .form-floating > label {
  right: 0;
  left: auto;
}

.latest .dropdown__select {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 3px;
}

.latest .dropdown__select .dropdown-toggle {
  color: #fff;
}

.latest .dropdown__select .dropdown-menu {
  max-height: 350px;
  overflow-y: scroll;
}

.latest .dropdown__select .dropdown-menu ::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0px;
}

.latest .dropdown__select .dropdown-menu ::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.authentication {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.authentication:before {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.822);
  z-index: 8;
}

.authentication .wrap_page {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  margin-top: 120px;
  background-color: #fff;
  z-index: 9;
  position: relative;
}

@media (width: 580px) {
  .authentication .wrap_page {
    margin-top: 50px;
  }
}

.authentication .wrap_page form button {
  background-color: var(--primary-color);
  padding: 8px 15px;
  color: #fff;
  border-radius: 0.25rem;
  width: 100%;
}

.authentication .wrap_page form button:hover {
  border-color: var(--primary-color);
  color: #fff;
}

.authentication .text-wrap, .authentication .form-wrap {
  width: 50%;
}

@media (max-width: 767px) {
  .authentication .text-wrap, .authentication .form-wrap {
    width: 100%;
  }
}

.authentication .text-wrap {
  background: var(--primary-color);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--primary-color)), color-stop(100%, #13596459));
  background: linear-gradient(135deg, var(--primary-color) 0%, #13596459 100%);
  color: #fff;
}

.authentication .text-wrap .text h2 {
  font-weight: 900;
  color: #fff;
}

.authentication .text-wrap a {
  color: red;
  border-color: #fff;
  color: #fff;
  margin-top: 25px;
}

.authentication .text-wrap a:hover {
  border-color: var(--primary-color);
}

.authentication .form-floating > label {
  right: 0;
  left: auto;
}

.authentication .forget_pass a {
  color: var(--third-color);
}

.authentication .forget_pass a:hover {
  color: var(--primary-color);
}

.authentication.forgetPass_page .form-wrap {
  width: 100%;
}

.as-buyer .form-floating > label {
  right: 0;
  left: auto;
}

.as-buyer img {
  width: 100%;
}

.as-buyer .send_ {
  background-color: var(--primary-color);
  padding: 8px 15px;
  color: #fff;
  border-radius: 0.25rem;
  width: 100%;
}

.as-buyer .send_:hover {
  border-color: var(--primary-color);
  color: #fff;
}

.profile .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.profile .nav-tabs .nav-link.active, .profile .nav-tabs .nav-link:hover {
  border-color: transparent !important;
  border: 0 !important;
  border-bottom: 2px solid var(--primary-color) !important;
}

.profile #nav-baseInfo .send, .profile #nav-identity .send, .profile #nav-facility .send {
  background-color: var(--primary-color);
  padding: 8px 15px;
  color: #fff;
  border-radius: 0.25rem;
  width: 150px;
}

.profile #nav-baseInfo .send:hover, .profile #nav-identity .send:hover, .profile #nav-facility .send:hover {
  border-color: var(--primary-color);
  color: #fff;
}

.forsah {
  padding: 35px 0;
}

.forsah .forsah_card {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  position: relative;
}

.forsah .forsah_card h3 {
  color: var(--third-color);
  font-weight: bold;
}

.forsah .forsah_card p {
  color: #666;
  width: 320px;
  text-align: center;
}

.forsah .forsah_card:hover {
  border: 1px solid var(--primary-color);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=main.css.map */