@mixin gradient-background(){
	background: var(--primary-color);
	background: -moz-linear-gradient(-45deg, var(--primary-color) 0%, #13596459  100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, var(--primary-color)), color-stop(100%, #13596459 ));
	background: -webkit-linear-gradient(-45deg, var(--primary-color) 0%, #13596459  100%);
	background: -o-linear-gradient(-45deg, var(--primary-color) 0%, #13596459  100%);
	background: -ms-linear-gradient(-45deg, var(--primary-color) 0%, #13596459  100%);
	background: linear-gradient(135deg, var(--primary-color) 0%, #13596459  100%);
}

.authentication{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    &:before{
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.822);
        z-index:8
    };
    .wrap_page{
        width: 100%;
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
        box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
        margin-top: 120px;
        background-color: #fff;
        z-index:9;
        position: relative;
        @media(width:580px){
            margin-top: 50px;
        }
        form{
            button{
                background-color:  var(--primary-color);
                padding: 8px 15px;
                color: #fff;
                border-radius: 0.25rem;
                width: 100%;
                &:hover{
                    border-color: var(--primary-color);
                    color: #fff;
                }
            }
        }
    }
    .text-wrap,.form-wrap{
        width: 50%;
        @media(max-width: 767px){
            width: 100%;
        }
    }
    
    .text-wrap{
        @include gradient-background();
        color: #fff;
        .text{
            h2{
                font-weight: 900;
                color: #fff;
            }
        }
        a{
            color: red;
            border-color: #fff;
            color: #fff;
            margin-top: 25px;
            &:hover{
                border-color: var(--primary-color)
            }
        }
        
    }
    .form-floating>label{
        right: 0;
        left: auto;
    }
    .forget_pass{
        a{
            color: var(--third-color);
            &:hover{
                color: var(--primary-color)
            }
        }
    }
    &.forgetPass_page{
        .form-wrap{
            width: 100%
        }   
    }
}

.as-buyer{
    .form-floating>label{
        right: 0;
        left: auto;
    }
    img{
        width: 100%
    }
    .send_{
        background-color:  var(--primary-color);
        padding: 8px 15px;
        color: #fff;
        border-radius: 0.25rem;
        width: 100%;
        &:hover{
            border-color: var(--primary-color);
            color: #fff;
        }
    }
}